 <!DOCTYPE html>
<html>
<title>Landing Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://cdn.tailwindcss.com"></script>
<body>


<div class="">
  <div class="">
    <a href="/home" class="text-xl ">Artificial Intelligence and Data Science</a>
    </a>
  </div>
</div>


<header class="">
  <div class="">
    <span class="">AI Based Smart Meter</span><br>
    <p><a href="/login" class="">Getting Started Login to Dashboard</a></p>
  </div> 
</header>

<div class="" >
  <h1 class="text-lg">About the Project</h1>
  <p class="">Smart home energy monitoring systems track and optimize energy usage for efficiency, cost savings, and environmental sustainability in households.
  </p>




</body>
</html>
 


